<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/table.css">
    <link rel="icon" href="./static/themes/logo/admin.png" type="image/x-icon">
    <title>Report</title>
</head>
<body>
    <header>
        <h1>Common Expenses Table</h1>
        <!-- <a href="/adminhome">Back</a> -->
        <hr>
    </header>
    <div class="filter-date">
        <form action="/table" method="POST">
            <input type="text" name="start_year" placeholder="Starting Year" required>
            <input type="text" name = "end_year" placeholder="Last Year" required>
            <button type="submit" class="btn">Filter Data</button>
        </form>
        <div class = "button-class">
            <a class = "btn" href='/table'>
                    All Data
            </a>
            <a class = "btn" href='/generated_pdf'>
                    Generate Print
            </a>
        </div>
    </div>

    <div class="table">
        <div class ="inner-box">
            <table>
                <thead>
                    <tr id="header">
                        <th>S.No.</th>
                        <th>Common Expenses Dues</th>
                        <th>Number of Units</th>
                        <th>Revenues</th>
                        <th>Minus Delinquent Payments</th>
                        <th>Gross Profit</th>
                        <th>Common Expenses Subtotal</th>
                        <th>Common Expenses NET Profit/loss</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in common_expenses_major %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>$ {{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>$ {{row[2]}}</td>
                        <td>$ {{row[3]}}</td>
                        <td>$ {{row[4]}}</td>
                        <td>$ {{row[5]}}</td>
                        <td>$ {{row[6]}}</td>
                        <td>{{row[7]}}</td>
                    </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
    <div class="table">
        <div class ="inner-box">
            <table>
                <thead>
                    <tr id="header">
                        <th>S.No.</th>
                        <th>Expenses Name</th>
                        <th>Price ($)</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in common_expenses_year %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{row[0]}}</td>
                        <td>$ {{row[1]}}</td>
                        <td>{{row[2]}}</td>
                    </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
    <h1>Replacement Reserve Table</h1>
    <div class="table">
        <div class ="inner-box">
            <table>
            <thead>
                <tr id="header">
                    <th>S.No.</th>
                    <th>Reserves Name</th>
                    <th>Price ($)</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
            {% for row in replacement_reserve %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row[0]}}</td>
                    <td>$ {{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
            {% endfor %}  
            </tbody>
            </table>
        </div>
    </div>
    <div class="table">
        <div class ="inner-box">
            <table>
                <thead>
                    <tr id="header">
                        <th>S.No.</th>
                        <th>HOA Replacement Reserves Dues</th>
                        <th>Reserve Account Expenses</th>
                        <th>Income From Reserve Dues</th>
                        <th>Reserves</th>
                        <th>My Total Monthly Dues</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in replacement_reserve_major %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>$ {{row[0]}}</td>
                        <td>$ {{row[1]}}</td>
                        <td>$ {{row[2]}}</td>
                        <td>$ {{row[3]}}</td>
                        <td>$ {{row[4]}}</td>
                        <td>{{row[5]}}</td>
                    </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="total_amount">Total Earn:-₹{{amount}}</div> -->
</body>

</html>