<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Reserve Study Dashboard</title>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>  
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <link rel="stylesheet" href="/static/data_entry.css">
    </head>
    
    <body> 
        <!-- navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="background-color: black;">
            
                <!-- BRAND -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Reserve Study Application</a>
                </div>
                <div class="navbar-form navbar-right">
                    <a role="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#reportIssueModal">Report Issue</a>
                    <a role="button" class="btn btn-primary btn-sm" href="#">Sign Out</a>
                </div>
                <div class="navbar-right">
                    <span class="navbar-text">
                        <span class="glyphicon glyphicon-user"></span>
                        <span>appfjstrategic@gmail.com</span>
                    </span>
                </div>
            </div>
        </nav>
        <ul class="nav nav-pills" style="    margin-left: 1.5rem; margin-top: 1rem;">
            <li role="presentation"><a href="#" style="background-color: white;">Dashboard</a></li>
            <li role="presentation" class="active"><a href="#">Data Entry</a></li>
            <li role="presentation">
                <select class="btn" style="height: 4rem;">
                    <option value="javascript" selected>Funding Plans</option>
                    <option value="python">Current Funding Plan</option>
                    <option value="c++">Threshold Funding Plan</option>
                    <option value="java">Full Funding Plan</option>
                </select>
            </li>
            <li role="presentation"><a href="#" style="background-color: white;">Component Details</a></li>
            <li role="presentation"><a href="#" style="background-color: white;">Expenditures</a></li>
            <li role="presentation"><a href="#" style="background-color: white;">Reports</a></li>
        </ul>
        <!-- navbar -->

        <div class="container" style="width: 100%; margin-top: 10px;">
            <div class="panel">
                <div class="panel-heading" style="display: flex; flex-direction: row; justify-content: space-between;"></div>      
                <div id="collapseExample5" class="panel-body" style="display: flex; justify-content: flex-start;">
                    <div class="block1" style="width: 30%; display: grid; grid-auto-rows: min-content;">
                        <span>Scenarios Management</span>

                        <div class="col-sm-4" style="margin-bottom: 10px; display: flex; margin-top: 1rem;">
                            <button type="button" class="btn btn-info "><i class="fa fa-reload"></i>Update Plans</button>
                            <button type="button" class="btn btn-info " style="margin-left: 1rem;"><i class="fa fa-save"></i>Save Changes</button>
                        </div>
                        <label for="language">Select Active Scenario</label>
                        <select class="scenario" name="language" id="language">
                            <option value="javascript">Demo</option>
                            <option value="python">Demo</option>
                            <option value="c++" disabled>Demo</option>
                            <option value="java" selected>Demo</option>
                        </select>
                    </div>

                    <div class="block2" style="width: 70%;">
                    <span>Community: DEMO Community</span>
                    
                    <div class="table-responsive table table-bordered" style="padding: 8px; justify-content: space-between;">
                        <div class="col-sm-4" style="margin-bottom: 10px;">
                            <button type="button" class="btn btn-info "><i class="fa fa-plus"></i>Add New Scenario</button>
                        </div>
                        <table id="scenario-data" class="table table-bordered table-striped table-assessment" style="font-size: 12px; width: 100%; table-layout: fixed; word-wrap: break-word">
                            <thead>
                                <tr>
                                    <th>Scenario Name</th>
                                    <th>Notes</th>
                                    <th>Last Saved Date</th>
                                    <th>Last Saved By</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="newinputinitial">
                                <tr>
                                    <td id="scenario_name" data-name="scenario_name" class="scenario_name" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">Demo</td>
                                    <td id="notes" data-name="notes" class="notes" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">Sample Association</td>
                                    <td id="last_saved_date" data-name="last_saved_date" class="last_saved_date" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">2022-05-24 23:23:12</td>
                                    <td id="last_saved_by" data-name="last_saved_by" class="last_saved_by" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">john.erlandson@fjstrategic.com</td>
                                    <td id="status" data-name="status" class="status" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                </tr>
                                <tr>
                                    <td id="scenario_name" data-name="scenario_name" class="scenario_name" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">Demo</td>
                                    <td id="notes" data-name="notes" class="notes" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">Sample Association</td>
                                    <td id="last_saved_date" data-name="last_saved_date" class="last_saved_date" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">2022-05-24 23:23:12</td>
                                    <td id="last_saved_by" data-name="last_saved_by" class="last_saved_by" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">john.erlandson@fjstrategic.com</td>
                                    <td id="status" data-name="status" class="status" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                </tr>
                                <tr>
                                    <td id="scenario_name" data-name="scenario_name" class="scenario_name" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">Demo</td>
                                    <td id="notes" data-name="notes" class="notes" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">Sample Association</td>
                                    <td id="last_saved_date" data-name="last_saved_date" class="last_saved_date" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">2022-05-24 23:23:12</td>
                                    <td id="last_saved_by" data-name="last_saved_by" class="last_saved_by" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">john.erlandson@fjstrategic.com</td>
                                    <td id="status" data-name="status" class="status" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                </tr>
                            </tbody>
                        </table></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Enter Initial Parameters -->
        <div class="container" style="width: 100%; margin-top: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; flex-direction: row; justify-content: space-between;">Enter Initial Parameters
                    <p>
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                          +
                        </a> -->
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                          -
                        </button>
                      </p>
                </div>
                                  
                <div id="collapseExample2" class="panel-body collapse">
                    <div class="table-responsive table table-bordered" style="padding: 8px;">
                        <table id="initial_data" class="table table-bordered table-striped " style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Fiscal Year Start</th>
                                    <th>Fiscal Year End</th>
                                    <th>Starting Balance</th>
                                    <th>Current Yearly Reserve Contribution</th>
                                    <th>Proposed Yearly Reserve Contribution</th>
                                    <th>Inflation</th>
                                    <th>Number of Units</th>
                                    <th>Default Interest Rate</th>
                                    <th>Total Assessment Amount per Month</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="newinputinitial">
                                <tr>
                                    <td> <input id="fiscal_year_start" data-name="fiscal_year_start" class="fiscal_year_start" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="fiscal_year_end" data-name="fiscal_year_end" class="fiscal_year_end" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="starting_balance" data-name="starting_balance" class="starting_balance" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="current_yearly_reserve_contribution" data-name="current_yearly_reserve_contribution" class="current_yearly_reserve_contribution" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="proposed_yearly_reserve_contribution" data-name="proposed_yearly_reserve_contribution" class="proposed_yearly_reserve_contribution" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="inflation" data-name="inflation" class="inflation" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="number_of_units" data-name="number_of_units" class="number_of_units" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="default_interest_rate" data-name="default_interest_rate" class="default_interest_rate" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td> <input id="total_assessment_amount_per_month" data-name="total_assessment_amount_per_month" class="total_assessment_amount_per_month" data-type="text" data-pk="{{initial_id}}" style="width: 100%;"></td>
                                    <td>
                                        <a class="add-initial" title="Add" data-toggle="initialtooltip" id="{{initial_id}}"><i class="fa fa-user-plus"></i></a>
                                        <a class="edit-initial" title="Edit" data-toggle="initialtooltip" id="{{initial_id}}"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Enter Initial Parameters -->

        <!-- Units if Variable -->
        <div class="container" style="width: 100%; margin-top: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; flex-direction: row; justify-content: space-between;">Units if Variable
                    <p>
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                          +
                        </a> -->
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                          -
                        </button>
                      </p>
                </div>
                                  
                <div id="collapseExample3" class="panel-body collapse">
                    <div class="col-sm-4" style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-info add-unit-variable"><i class="fa fa-plus"></i>Add Unit</button>
                    </div>
                    <div class="table-responsive table table-bordered" style="padding: 8px;">
                        <table id="unit_variable" class="table table-bordered table-striped table-unit" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>Building</th>
                                    <th>Address</th>
                                    <th>Square Footage</th>
                                    <th>Percentage</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="newinputunit">
                                {% for row in unit %}
                                <tr>
                                    <td data-name="unit" class="unit" data-type="text" data-pk="{{row.unit_id}}">{{row.unit}}</td>
                                    <td data-name="building" class="building" data-type="text" data-pk="{{row.unit_id}}">{{row.building}}</td>
                                    <td data-name="address" class="address" data-type="text" data-pk="{{row.unit_id}}">{{row.address}}</td>
                                    <td data-name="square_footage" class="square_footage" data-type="text" data-pk="{{row.unit_id}}">{{row.square_footage}}</td>
                                    <td data-name="percentage" class="percentage" data-type="text" data-pk="{{row.unit_id}}">{{row.percentage}}</td>
                                    <td>
                                        <a class="add-unit" title="Add" data-toggle="unittooltip" id="{{row.unit_id}}"><i class="fa fa-user-plus"></i></a>
                                        <a class="delete-unit" title="Delete" data-toggle="unittooltip" id="{{row.unit_id}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Units if Variable -->

        <!-- Special Assessments -->
        <div class="container" style="width: 100%; margin-top: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; flex-direction: row; justify-content: space-between;">Special Assessments
                    <p>
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                          +
                        </a> -->
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                          -
                        </button>
                      </p>
                </div>
                                  
                <div id="collapseExample4" class="panel-body collapse">
                    <div class="table-responsive table table-bordered" style="padding: 8px; display: flex; justify-content: space-between;">
                        {% for table in special_assessments %}
                        <div class="table-responsive table table-bordered table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="assessment-data" class="table table-bordered table-striped table-assessment" style="font-size: 12px;">
                            <thead style="position:sticky; background-color: white; top: 0 ;">
                                <tr>
                                    <th>Year</th>
                                    <th>Amount</th>
                                    <th>Purpose</th>
                                </tr>
                            </thead>
                            <tbody id="newinputinitial">
                                {% for row in table %}
                                <tr>
                                    <td id="year" data-name="year" class="year" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">{{row.years}}</td>
                                    <td id="amount" data-name="amount" class="amount" data-type="text" type="date" data-pk="{{initial_id}}" style="width: 100%;">$ {{row.amount}}</td>
                                    <td id="purpose" data-name="purpose" class="purpose" data-type="text" data-pk="{{initial_id}}" style="width: 100%;">{{row.purpose}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Special Assessments -->

        <!-- Loans or Other Expenditures -->
        <div class="container" style="width: 100%; margin-top: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; flex-direction: row; justify-content: space-between;">Loans or Other Expenditures
                    <p>
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                          +
                        </a> -->
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                          -
                        </button>
                      </p>
                </div>
                                  
                <div id="collapseExample1" class="panel-body collapse">
                    <div class="col-sm-4" style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-info add-new-loan"><i class="fa fa-plus"></i>Add Row</button>
                    </div>
                    <div class="table-responsive table table-bordered" style="padding: 8px;">
                        <table id="sample_data_loan" class="table table-bordered table-striped table-loan" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Amount Due</th>
                                    <th>Description</th>
                                    <th>Fund Component</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="newinputloan">
                                {% for row in loan_other %}
                                <tr>
                                    <td data-name="year" class="year" data-type="text" data-pk="{{row.other_id}}">{{row.years}}</td>
                                    <td data-name="amount_due" class="amount_due" data-type="text" data-pk="{{row.other_id}}">$ {{row.amount_due}}</td>
                                    <td data-name="description" class="description" data-type="text" data-pk="{{row.other_id}}">{{row.descriptions}}</td>
                                    <td data-name="fund_component" class="fund_component" data-type="text" data-pk="{{row.other_id}}">{{row.fund_component}}</td>
                                    <td>
                                        <a class="add-loan" title="Add" data-toggle="loantooltip" id="{{row.other_id}}"><i class="fa fa-user-plus"></i></a>
                                        <a class="delete-loan" title="Delete" data-toggle="loantooltip" id="{{row.other_id}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Loans or Other Expenditures -->

        <!-- Components -->
        <div class="container" style="width: 100%; margin-top: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; flex-direction: row; justify-content: space-between;">Component
                    <p>
                        <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          +
                        </a> -->
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          -
                        </button>
                      </p>
                </div>
                                  
                <div id="collapseExample" class="panel-body collapse">
                    <div class="col-sm-4" style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add Row</button>
                    </div>
                    <div class="table-responsive table table-bordered" style="padding: 8px;">
                        <table id="sample_data" class="table table-bordered table-striped table-component" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Component Title</th>
                                    <th>Description</th>
                                    <th>Useful Life (years)</th>
                                    <th>Remaining Useful Life (years)</th>
                                    <th>Current Replacement Cost</th>
                                    <th>Assessment</th>
                                    <th>Fund Component</th>
                                    <th>Notes</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="newinputcomponent">
                                {% for row in component_data %}
                                <tr>
                                    <td data-name="category" class="category" data-type="text" data-pk="{{row.category_id}}">{{row.category_name}}</td>
                                    <td data-name="component_title" id="component_title" class="component_title" data-type="text" data-pk="{{row.category_id}}">{{row.component_name}}</td>
                                    <td data-name="description" class="description" data-type="text" data-pk="{{row.category_id}}">{{row.descriptions}}</td>
                                    <td data-name="useful_life" class="useful_life" data-type="text" data-pk="{{row.category_id}}">{{row.useful_life}}</td>
                                    <td data-name="remaining_useful_life" class="remaining_useful_life" data-type="text" data-pk="{{row.category_id}}">{{row.remaining_useful_life}}</td>
                                    <td data-name="current_replacement_cost" class="current_replacement_cost" data-type="text" data-pk="{{row.category_id}}">$ {{row.current_replacement_cost}}</td>
                                    <td data-name="assessment" class="assessment" data-type="text" data-pk="{{row.category_id}}">{{row.assessment}}</td>
                                    <td data-name="fund_component" class="fund_component" data-type="text" data-pk="{{row.category_id}}">{{row.fund_component}}</td>
                                    <td data-name="notes" class="notes" data-type="text" data-pk="{{row.category_id}}">{{row.notes}}</td>
                                    <td>
                                        <a class="add" title="Add" data-toggle="tooltip" id="{{row.category_id}}"><i class="fa fa-user-plus"></i></a>
                                        <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.category_id}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Components -->
    </body>
    <script type="text/javascript">
        var category_name = '{{ category_name }}';
        
        // document.write(category_name);
    </script>
    <script type="text/javascript" src="/static/data_entry.js"></script>
</html>